.btn {
  width: 200px;
  height: 65px;
  border-radius: 0.25rem;
  color: #ffffff!important;
  background-color: #00a19b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none !important;
  border: none;
  margin: 8px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.btnLine {
  width: 100%;
  max-width: 12.5rem;
  height: 4.0625rem;
  border-radius: 4px;
  text-align: center;
  border: solid 1px #00a19b;
  color: #00a19b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.btnLine:hover {
  opacity: 0.7;
}

.btnLine:disabled {
  background: #acacac;
  color: #ffffff;
  border: none;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .btnLine {
    max-width: 8.75rem;
  }
}